<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<!-- Additional left items can come here -->
	</ul>
	
	<ul class="navbar-nav my-2 my-lg-0">
	  <li><%= link_to 'Mentors', {controller: 'mentors'}, {:class => 'nav-link'} %></li>
	  <li><%= link_to 'Mentees', {controller: 'mentees'}, {:class => 'nav-link'} %></li>  
	  <li><%= link_to 'Log Out', '/users/logout', {:class => 'nav-link'} %></li>
	</ul>
</div>
