<nav>
  <ul class="nav navbar-nav navbar-right">
  	  <li><%= link_to 'Home', controller: 'welcome', :class => 'navbar-brand'%></li>
	  <li><%= link_to 'Mentors', controller: 'mentors', :class => 'navbar-brand'%></li>
	  <li><%= link_to 'Mentees', controller: 'mentees', :class => 'navbar-brand'%></li>  
	  <li><%= link_to 'Log Out', controller: 'sessions' ,action: :new, method: :destroy, :class => 'navbar-brand'%></li>
</nav>
