<nav>
  <ul class="nav navbar-nav navbar-right">
  	  <li><a class="navbar-brand" href="/"><%= link_to 'Home', controller: 'welcome'%></a></li>
	  <li><a class="navbar-brand" href="/"><%= link_to 'Mentors', controller: 'mentors'%></a></li>
	  <li><a class="navbar-brand" href="/"><%= link_to 'Mentees', controller: 'mentees'%></a> </li>  
	  <li><a class="navbar-brand" href="/"><%= link_to 'Log Out', controller: 'welcome'%></a></li>
</nav>
