<div class="container">
	<div>
		<h1 class="page_header">Welcome to Baot, Natasha!</h1>
		<p>This is where you can see recent activity in the app</p>
	</div>
	<div>
		<span><h2>Recently Joined</h2></span>
		<span></span>
		<span></span>
		<table>
			<thead>
      			<tr>
			        <th scope="col">Name</th>
			        <th scope="col">Type</th>
			        <th scope="col">Company</th>
			        <th scope="col">Title</th>
			        <th scope="col">connections</th>
			        <th scope="col"></th>
      			</tr>
   			</thead>
		</table>
	</div>
	
</div>