<h1>Hello!</h1>

<%= link_to 'All Mentors', controller: 'mentors' %>
<%= link_to 'All Mentees', controller: 'mentees' %>
<%= link_to 'All Events', controller: 'events' %>
<%= link_to 'All Users', controller: 'users' %>
