<p>
  <strong>Event Type:</strong>
  <%= event.event_type %>
</p>

<p>
  <strong>Method:</strong>
  <%= event.method %>
</p>

<p>
  <strong>Date:</strong>
  <%= event.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= event.notes %>
</p>
