input.form-control {
	width: 33%;
	margin: auto;
}

h1.form_header {
	text-align: center;
	margin-bottom: 50px;
}

.form-label {
	padding-left: 34%;
}

.submit-btn {
	padding-left: 61%;
}

textarea.form-control {
	width: 33%;
	margin: auto;
	resize: vertical;
}

div.field_with_errors > input {
	border-color: red;
}

.error-message {
	color: red;
	padding-left: 34%;
}

.align-to-form {
	padding-left: 34%;	
}

header.navbar-inverse {
	background-color: #34568A;
}

ul.navbar-nav.nav.navbar-right a {
	color: #FFFFFF;
	font-size: 18px;
}

span.navbar-brand.navbar-left {
	color: #FFFFFF;	
	font-size: 18px;
	font-weight: bold;
}

body {
	font-family: Roboto;
}

h1.page_header {
	margin-bottom: 50px;
}

.inline-header {
	display: inline;
}

a.btn-lg.pull-right {
	margin-left: 14px;
	background-color: #119BC6;
	border: none;
	color: #FFFFFF;
}

#dashboard-table-header, #connection-table-header {
	margin-top: 50px;
	margin-bottom: 50px;
}

#connection-info-list {
	list-style-type: none;
	padding-left: 0;

}

.field-name {
	font-size: 18px;	
	font-weight: bold;
	color: #777777;
	width: 110px;
	display: inline-block;
}

.field-content {
	font-size: 18px;	
}


.link_text {
	color: #119BC6;
	text-decoration: underline;
	margin-right: 10px;
}
