.dashboard {
    .table-header {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .tag {

        &.tag-mentor {
            background: #7986CB;
        }

        &.tag-mentee {
            background: #81C784;
        }
    }
}