.events-list {
    .tag {
        &.meeting {
            background: #aaa;
        }

        &.discussion {
            background: #aaa;
        }

        &.note {
            background: #aaa;
        }
    }
}